<style>
    body {
        font-family: Arial;
    }
    table {
        border-collapse: collapse;
    }
    table, tr, th, td {
        border: solid 1px #000;
    }
    th {
        background-color: #f9f939;
        color: black;
        font-weight: bold;
    }
    th, td {
        text-align: center;
        padding: 15px;
    }
</style>
<div>
    <p><span th:text="'Hola, ' + ${name}"></span></p>
    <p>Resumen de Pago: </p>
    <br>
    <table>
        <tr>
            <th>Codigo de Operacion</th>
            <th>Fecha de Transaccion</th>
            <th>Fecha de Pago</th>
        </tr>
        <tr th:each="payment : ${payment}">
            <td th:text="${payment.operationCode}" />
            <td th:text="${payment.transactionDate}" />
            <td th:text="${payment.paymentDate}" />
        </tr>
    </table>
</div>